/* Fonts */
/** =================== MONTSERRAT =================== **/
/* Century Gothic  безопасный шрифт*/
/** Montserrat Thin **/
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Thin.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Thin.woff") format("woff");
}

/** Montserrat Thin-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-ThinItalic.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-ThinItalic.woff") format("woff");
}

/** Montserrat ExtraLight **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-ExtraLight.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff");
}

/** Montserrat ExtraLight-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-ExtraLightItalic.woff") format("woff");
}

/** Montserrat Light **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Light.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Light.woff") format("woff");
}

/** Montserrat Light-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-LightItalic.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-LightItalic.woff") format("woff");
}

/** Montserrat Regular **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
}

/** Montserrat Regular-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-Italic.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Italic.woff") format("woff");
}

/** Montserrat Medium **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff");
}

/** Montserrat Medium-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-MediumItalic.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-MediumItalic.woff") format("woff");
}

/** Montserrat SemiBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
}

/** Montserrat SemiBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
}

/** Montserrat Bold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff");
}

/** Montserrat Bold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-BoldItalic.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-BoldItalic.woff") format("woff");
}

/** Montserrat ExtraBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff");
}

/** Montserrat ExtraBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff") format("woff");
}

/** Montserrat Black **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Black.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Black.woff") format("woff");
}

/** Montserrat Black-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-BlackItalic.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-BlackItalic.woff") format("woff");
}

/* normalize */
html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

main {
    display: block;
}

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}


button,
input {
    /* 1 */
    overflow: visible;
}

button,
select {
    /* 1 */
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}


button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

progress {
    vertical-align: baseline;
}


textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

details {
    display: block;
}

summary {
    display: list-item;
}


template {
    display: none;
}

[hidden] {
    display: none;
}

/* end normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-display: swap;
}

.wrapper {
    position: relative;
}


ul {
    padding: 0;
    margin: 0;
}

li,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

i {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
    transition: .3s all;
    -moz-transition: .3s all;
    -webkit-transition: .3s all;
    line-height: 1.5em;
}

a:visited {
    color: #000;
}

a:hover {
    color: #0E873F;
}

a:hover .angle {
    border-color: #0E873F;
}

h2 {
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}

h3 {
    color: #fff;
    cursor: pointer;
    font-weight: 500;
}

p {
    font-size: 17px;
    line-height: 1.7em;
    padding: 0;
    margin: 0;
    display: inline-block;

}

.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    padding: 0px 15px;
}

/* main */
.header_top_flex,
.header_middle_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;

}

.header_top {
    background-color: #F6F9FC;
    padding: 10px;
}

.search_head {
    border: none;
    padding: 8px 0px 8px 35px;
    width: 250px;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

.search_head:focus {
    box-shadow: 0px 0px 4px 1px #0e873e70;
}

.search {
    display: inline;
    position: relative;
    margin: 0px 30px 0px 0px;
}

.search_icon {
    position: absolute;
    left: 8px;
    top: 9px;
    opacity: .6;
    height: 15px;
    width: 15px;
}


.search_icon.search_icon_ios {
    top: 11px;
}

.buttons {
    display: flex;
    position: relative;
}

.button_icons {
    padding-left: 10px;
}

.social_btns_icon {
    height: 23px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    margin: 4px 0px 0px 0px;
}

.button_icons:hover .social_btns_icon {
    fill: #0E873F !important;
}

.tolip_item {
    position: absolute;
    transform: translate(0px, 50px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    right: 0px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.63);
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;

}

.tolip:hover .tolip_item {
    visibility: visible;
    opacity: 1;
    transform: translate(0px, 30px);
    pointer-events: visible;
}

/* header_top */

.menu_item {
    padding-left: 14px;
    font-weight: 500;
    font-size: 15px;

}

.menu_header_top ul,
.menu_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.menu_header_list {

    font-size: 13px;
}


.menu_header_list_icon {
    height: 14px;
    width: 14px;
    margin: 0px 3px -2px 0px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

.menu_header_list:hover .menu_header_list_icon {
    fill: #0E873F !important;
}

/* .menu_header_list:hover {
    color: #0E873F;
} */

.header_middle {
    padding: 10px 0px;
}

/*main menu*/
.menu {
    font-size: 15px;
    font-weight: 500;

}

.angle {
    width: 6px;
    height: 6px;
    border-top: 0.15rem solid #000;
    border-right: 0.15rem solid #000;
    display: inline-block;
    margin: 0px 0px 3px 3px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

.angle-down {
    transform: rotate(135deg);
}

.angle-up {
    transform: rotate(-45deg);
}

.angle-right {
    transform: rotate(45deg);
}

.angle-left {
    transform: rotate(-135deg);
}

.menu li {
    position: relative;
    word-wrap: break-word;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;

}

.menu__list>li {
    margin: 10px 0px 0px 15px;

}

.menu__list>li:hover .sub-menu__list,
.sub-menu__list>li:hover .sub-sub-menu__list {
    z-index: 1;
    visibility: visible;
    opacity: 1;
    transform: translate(0px, 0px);
    pointer-events: visible;
}

.sub-menu__list,
.sub-sub-menu__list {
    position: absolute;
    left: 0;
    top: 22px;
    min-width: 175px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translate(0px, 60px);
    transition: .3s all ease 0s;
    -webkit-transition: .3s all ease 0s;
    -moz-transition: .3s all ease 0s;
}

.width_menu {
    width: 250px;
}

.sub-sub-menu__list {
    top: -1px;
    left: 100%;
}

.sub-menu__list>li,
.sub-sub-menu__list>li {
    border-bottom: 1px solid #0E873F;

}

.sub-menu__list>li:hover,
.sub-sub-menu__list>li:hover {
    background-color: #0E873F;

}

.sub-menu__link,
.sub-sub-menu__link {
    transition: .0s all;
    -moz-transition: .0s all;
    -webkit-transition: .0s all;
}

.sub-menu__list>li:hover .sub-menu__link,
.sub-sub-menu__list>li:hover .sub-sub-menu__link {
    color: #fff;
}

.sub-menu__list>li:last-child,
.sub-sub-menu__list>li:last-child {
    border-bottom: none;
}

.sub-menu__link,
.sub-sub-menu__link {
    display: inline-block;
    padding: 10px 10px;
}

.sub-menu__list .angle-right {
    position: absolute;
    right: 10px;
    top: 42%;
    font-size: 14px;
    transition: all 0s;

}

.sub-menu__list li:hover .angle-right {
    border-color: #fff;
}

.burger {
    display: none;
}

/* header */
.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    top: 0;
}

.slider_banner_item {
    object-fit: cover;
    width: 100%;
    max-height: 550px;
}

.slider_banner_item video,
.slider_banner_item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.slider_banner_item div {
    width: 100%;
}

.title_banner {
    position: absolute;
    top: 30%;
}

.title_banner h1 {
    color: #fff;
    line-height: 1.5;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

/* slider_banner */

.information_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.icon_box {
    padding-top: 40px;
    transition: .3s all;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    padding-bottom: 40px;
}

.icon_box_icon {
    margin: 0 auto;
    height: 30px;
    width: 40px;
    display: block;
    fill: #2B5078 !important;
    transition: .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
}

.icon_box p {
    padding-top: 10px;
}

.icon_box:hover .icon_box_icon {
    fill: #0E873F !important;
    cursor: pointer;
}

/*information*/
.news {
    padding-bottom: 40px;
}

.posts {
    display: flex;
    margin-bottom: 40px;
    box-shadow: -2px 1px 6px 2px #f7eaea;
    min-height: 260px;
    height: 100%;

}

.post_img {
    overflow: hidden;
    max-width: 30%;
    max-height: 100%;
}

.post_img img {
    object-fit: cover;
    transition: .7s all;
    -webkit-transition: .7s all;
    -moz-transition: .7s all;
    object-position: center;
    height: 100%;
    width: 100%;

}

.posts:hover img {
    transform: scale(1.1);
}

.post_content {
    padding: 0px 15px 0px 15px;
    max-width: 70%;

}

.post_content_data p {
    font-size: 16px;
    padding-bottom: 10px;
}

.post_content_data_icon {
    height: 16px;
    width: 16px;
    margin: 0px 1px -1px 0px;
}

.post_content_read_more {

    padding: 20px 0px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;

}

.posts_btn_prev_next {
    position: absolute;
    right: 15px;
}

.prev_icon,
.next_icon {
    height: 30px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    fill: #020725BA;
}

.posts_btn_prev_next a:hover .prev_icon,
.posts_btn_prev_next a:hover .next_icon {
    fill: #0E873F;
}

/*news*/
.slider {
    padding: 10px 25px;
}

.item_slider {
    width: 300px;
    overflow: hidden;
    padding: 0 10px;
    display: none;

}

.item_slider img {
    overflow: hidden;
    object-fit: cover;
    height: 210px;
    width: 100%;
    transition: .5s all;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
}

.item_slider:hover img {
    transform: scale(1.02);
}

.spec {
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}

/*our_spec*/
.quoter {
    background-image: url('../img/bg_grozny.webp');
    padding: 100px 0px;
    background-attachment: fixed;
    position: relative;
    background-position: center;
    background-size: cover;
}

.quoter_slider {
    padding: 15px;
}


.item_quoter_slider img {
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
    margin: 0 auto;

}

.item_quoter_slider>p {
    display: block;
    padding-top: 20px;
    text-align: center;
    font-weight: 500;
    font-style: italic;

}

.quote {
    font-size: 30px;
    color: #fff;
}

.author {
    font-size: 28px;
    color: #fff;

}

.position {
    font-size: 25px;
    color: #55F3CA;
}

/* gallery */
.photo_gallery {
    padding-bottom: 30px;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery_img {
    max-width: 370px;
    overflow: hidden;
    max-height: 300px;
    object-fit: cover;
}

.gallery_img img {
    width: 370px;
    height: 300px;
    object-fit: cover;
    transition: 1.5s all;
    -webkit-transition: 1.5s all;
    -moz-transition: 1.5s all;
}

.gallery_img:hover img {
    transform: scale(1.1);
}

/* links_resurs */
.links {
    padding-bottom: 40px;
}

.logo_slider {
    padding: 0 25px;
}

.item_logo_slider {
    margin-left: 10px;
    width: 100%;
    height: 100%;
}

.item_logo_slider img {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    filter: grayscale(1);
    height: 100%;
    width: 100%;
}

.item_logo_slider:hover img {
    filter: grayscale(0);
}


/* footer */
.footer {
    position: absolute;
    height: 0;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #C8C8C8;
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
    transition: 0.1s all;
    -webkit-transition: 0.1s all;
    -moz-transition: 0.1s all;

}

.footer a:hover {
    color: #fff
}

.footer_top {
    background-color: #01121de0;
    padding-bottom: 80px;
}

.links_footer a {

    padding-top: 20px;

}

.links_footer {
    display: flex;
    justify-content: space-between;

}

.links_footer_icon {
    height: 16px;
    fill: rgba(255, 255, 255, 0.8) !important;
    margin: 0px 2px -2px 0px;
}

.footer a:hover .links_footer_icon {
    fill: #fff !important;
}

.footer_bottom {
    background-color: #212D3A;
}

.footer_menu {
    display: flex;
    justify-content: space-between;
}

.footer_menu_item {
    padding-top: 30px;
}

.footer_menu_item_first {
    width: 231px;
}

.footer_menu_item_second {
    width: 360px;
}

.footer_menu_item_last {
    width: 235px;
}

.footer_copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright p {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;

}

.links_button a {

    font-size: 22px;
    padding: 3px 5px 3px 5px;
    border-radius: 10%;
    font-weight: 600;
    border: 1px solid #666;
    line-height: 0;
    margin-left: 5px;
    transition: .3s all;
    -moz-transition: .3s all;
    -webkit-transition: .3s all;
}

.links_button_icon {
    height: 22px;
    fill: #fff !important;
    margin: 0px 0px -4px 0px;
}

.links_button a:hover {
    border-color: #fff;
}

.top_arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    height: 50px;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.top_arrow .angle {
    border-color: #fff;
    display: block;
    padding: 10px 0px;
    margin: -4px 0px;
    padding: 0;
    width: 9px;
    height: 9px;
}

.top_arrow a {
    margin: 6px 0px 0px 0px;
}

.top_arrow:hover .angle {
    border-color: #fff;
}

.top_arrow:hover {
    background-color: #000;
}

/*tab and mobile */

@media (max-width: 1130px) {

    .menu_header_top ul {
        gap: 10px;
    }

    .search_head {
        width: 150px;
    }

}

@media (max-width: 1023px) {
    .top_arrow {
        bottom: 50px;
        height: 40px;
        width: 40px;
    }

    .top_arrow i {
        font-size: 20px;
    }


    .logo img {
        height: 60px;
        width: 60px;
    }

    .search {
        margin: 10% 0px 0px 0px;
    }

    .search_head {
        width: 250px;
    }

    .buttons {
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .title_banner h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 35px;

    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 14px;
    }

    .spec {
        font-size: 14px;
    }

    p {
        font-size: 14px;

    }


    .icon_box_icon {
        height: 25px;
        width: 35px;
    }

    .slider_banner_item video,
    .slider_banner_item img {
        height: 300px;

    }

    .menu_header_list {
        font-size: 12px;
    }

    .social_btns_icon {
       height: 20px;
    }



    .menu_header_top ul {
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: none;
        font-size: 12px;
    }



    .header_middle_flex {
        flex-direction: column;
        align-items: stretch;
    }

    .burger {
        display: block;
        position: absolute;
        right: 10px;
        top: 15px;
        width: 30px;
        height: 20px;
        transform: scale(0.8);

    }

    .burger span {
        position: absolute;
        background-color: black;
        width: 100%;
        height: 2px;
        top: 9px;
        left: 0;
        transition: all .4s ease 0s;
        -webkit-transition: all .4s ease 0s;
        -moz-transition: all .4s ease 0s;
    }

    .burger::before,
    .burger:after {
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all .4s ease 0s;
        -webkit-transition: all .4s ease 0s;
        -moz-transition: all .4s ease 0s;

    }

    .burger::before {
        top: 0;
    }

    .burger:after {
        bottom: 0;
    }

    .burger.active:before {
        transform: rotate(45deg);
        top: 9px;

    }

    .burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;

    }

    .burger.active span {
        display: none;
    }

    .menu__list {
        display: block;
        text-align: left;
    }

    .menu__list>li {
        margin: 20px 0px 0px 0px;
    }

    .sub-menu__list,
    .sub-sub-menu__list {
        position: relative;
        left: 0;
        top: 0;
        display: none;
        min-width: 100%;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        visibility: visible;
        z-index: 1;
        opacity: 1;
        pointer-events: visible;
        transform: translate(0px, 0px);

    }

    .arrow.active .angle {
        transform: rotate(-45deg);
        border-color: #0E873F;

    }

    .sub-menu__link.arrow .angle {
        transform: rotate(135deg);
        transition: all .3s ease 0s;
        -moz-transition: all .3s ease 0s;
        -webkit-transition: all .4s ease 0s;
        top: 20px;

    }

    .sub-menu__link.arrow.active .angle {
        transform: rotate(-45deg);
        border-color: #0E873F;


    }

    .sub-menu__list>li:last-child {
        border-bottom: 1px solid #0E873F;
    }

    .sub-menu__list>li:hover,
    .sub-sub-menu__list>li:hover {
        background-color: transparent;
    }

    .sub-menu__link:hover,
    .sub-sub-menu__link:hover {
        color: #0E873F;
    }

    .menu__link .angle,
    .sub-menu__link .angle,
    .sub-sub-menu__link .angle {
        position: absolute;
        right: 5px;

    }

    .sub-menu__list li:hover .angle-right {
        border-color: #000;
    }

    .sub-menu__list>li:hover .sub-menu__link,
    .sub-sub-menu__list>li:hover .sub-sub-menu__link {
        color: #0E873F
    }

    .sub-menu__link,
    .sub-sub-menu__link {
        padding: 15px 0px;
        color: #000;
    }

    .item_slider {
        padding: 0px 5px;
    }

    .quoter.ios {
        background-attachment: local;
    }

    .quote {
        font-size: 25px;
    }

    .author,
    .position {
        font-size: 20px;
    }

    .post_content_read_more {

        font-size: 15px;
    }

    .footer_top {
        display: none;
    }

    .footer_menu {
        display: none;
    }

    .copyright p {
        font-size: 14px;
    }

    .links_button {
        font-size: 20px;
    }

}

@media (max-width: 767px) {

    .top_arrow {
        height: 35px;
        width: 35px;
    }

    .top_arrow .angle {
        width: 8px;
        height: 8px;
    }

    h2 {
        font-size: 25px;

    }

    h3 {
        font-size: 15px;
    }

    h4 {
        font-size: 13px;
    }

    p {
        font-size: 14px;
    }

    .spec {
        font-size: 13px;
    }

    .header_top_flex {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .buttons {
        align-items: center;
        padding-top: 10px;
        width: 100%;
    }

    .menu_header_top ul {
        align-items: center;
    }

    .menu_header_list_icon {
        height: 12px;
        width: 12px;
    }

    .social_btns_icon {
       height: 18px;
    }

    .social_btns_icon_telegram {
        width: 18px;
    }

    .search {
        width: 100%;
        margin: 15px 0px 0px 0px;
    }

    .search_head {
        width: 90%;
    }

    .logo img {
        height: 50px;
        width: 50px;
    }

    .slider_banner.slick-slider {
        display: none;
    }

    .title_banner h1 {
        font-size: 15px;
    }

    .information_flex {
        flex-direction: column;
        margin-top: 15px;
    }

    .icon_box {
        padding: 10px 0px;
    }

    .icon_box_icon {
        height: 22px;
        width: 30px;
    }

    .posts {
        border-radius: 0px;
        flex-direction: column;
    }

    .posts .post_img {
        border-radius: 0px;
        max-width: 100%;
        max-height: 10%;

    }

    .post_content {
        max-width: 100%;
    }

    .post_content_read_more {
        padding: 10px 0px;
        justify-content: flex-start;
        font-size: 14px;
    }

    .item_quoter_slider img {
        height: 100px;
        width: 100px;
    }

    .quote {
        font-size: 18px;
    }

    .author,
    .position {
        font-size: 15px;
    }

    .gallery {
        flex-direction: column;
        align-items: center;
    }

    .gallery_img img {
        max-width: 100%;
    }

    .links_footer {
        display: none;
    }

    .footer_copy {
        flex-direction: row;
    }

    .copyright {
        flex: 1;
    }

    .copyright p {
        font-size: 8px;
        text-align: center;
    }

    .links_button a {
        font-size: 19px;
    }

    .links_button_icon {
        height: 18px;

    }


}

/* news.html */
.content {
    padding: 30px 0px;
    display: flex;

}

.single_post_content {
    width: 70%;
    padding: 0px 50px 0px 0px;
}

.posts_aside {
    width: 30%;
}

.page_header {
    width: 100%;
    background-color: #1F403E;
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 50%);
}

.page_title {
    color: #fff;
    font-weight: 200;
    font-size: 32px;
    margin: 0;
    padding: 25px 0px;
    text-transform: uppercase;
}

.single_post_title {
    color: #000;
    font-size: 23px;
    font-weight: 500;
    line-height: 1.5em;
    padding: 10px 0px;
}

.single_post_info {
    border-top: 1px dotted #afafaf;
    border-bottom: 1px dotted #afafaf;
    padding: 15px 0px;


}

.single_post_info p {
    font-size: 15px;
    margin: 0px 5px;

}

.post_icon {
    height: 16px;
    margin: 0px 5px -2px 0px;
    opacity: .8;
}

.single_post_info .views {
    opacity: .8;
}

.single_post_image {
    padding: 20px 0px;
}

.single_post_image img {
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
    max-width: 100%;
    max-height: 100%;

}

.single_post_text {
    padding: 15px 5px;
    text-align: justify;
}

.single_post_text p {
    line-height: 2;
    font-size: 17px;
}

/* .single_post_text p:first-letter {
    color: #0E873F;
    font-size: 50px;
    float: left;
    margin-top: -30px;
}  */

.single_post_gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.single_post_gallery a {
    width: 48%;
    overflow: hidden;
    padding: 5px 0px;
    height: 50%;
}

.single_post_gallery a:hover img {
    filter: brightness(0.6);
}

.single_post_gallery img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;

}

.single_post_video video,
.single_post_video iframe {
    padding: 20px 0px;
    width: 100%;
    min-height: 400px;
    box-sizing: border-box;
}

.posts_aside {
    padding: 10px;
}

.posts_aside_title {
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    padding: 10px 0px;
}

.post_aside_block {
    display: flex;
    gap: 10px;
    margin-top: 5px;

}

.post_aside_content,
.post_aside_image {
    width: 50%;
}

.post_aside_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
}

.post_aside_content_title {
    color: #000;
    font-size: 11px;
    line-height: 1.5;
    margin: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
}

.post_aside_content_text {
    font-size: 10px;
}

.posts_aside_link:hover {
    color: #000;
}

.posts_aside_link:hover .post_aside_image img {
    filter: brightness(0.7);
}

.posts_aside_link:hover .post_aside_content_title {
    color: #0E873F;
}

/* social share */
.social_share {
    padding: 10px 0px;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    padding-left: 0;
}

.social-icons>li {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.social-icons a {
    position: relative;
    background-color: #eee;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color .3s ease-in-out;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: .25rem;
}

.social-icons a:hover {
    background-color: #e0e0e0;
}

.social-icons a::before {
    content: "";
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    left: .75rem;
    top: .80rem;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.social-icons .social-icon-whatsapp::before {
    background-image: url("../img/icons/whatsapp.svg");
}

.social-icons .social-icon-vk::before {
    background-image: url("../img/icons/vk.svg");
}

.social-icons .social-icon-telegram::before {
    background-image: url("../img/icons/telegram.svg");
}

.logo_border {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
}

.left_border,
.right_border {
    height: 1px;
    background-color: #0E873F;
    width: 50%;
}

.border_img {
    height: 25px;
    width: 25px;
    margin: 0px 5px;
}

.btn_prev_next {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 50px 0px;
}

.next {
    text-align: right;
    width: 50%;
    border-left: 1px solid #0E873F;
}

.prev {
    width: 50%;
}

.prev_title,
.next_title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    max-width: 100%;
    cursor: pointer;
}

.prev .angle,
.next .angle {
    height: 9px;
    width: 9px;
    margin: 0px 0px 0px 0px;
}

.prev_post_title,
.next_post_title {
    display: block;
    font-size: 15px;
}

.pagination.mobile {
    display: none;
}

@media (max-width:1023px) {
    .content {
        padding: 15px 0px;
        flex-direction: column;

    }

    .single_post_content,
    .posts_aside {
        width: 100%;
        padding: 0;
    }

    .page_title {
        font-size: 20px;
    }

    .single_post_title {
        font-size: 20px;
    }

    .single_post_info p {
        font-size: 13.5px;
    }

    .single_post_text p {
        font-size: 16px;
    }

    .single_post_gallery {
        justify-content: flex-start;
    }

    .posts_aside_title {
        font-size: 16px;
    }

    .post_aside_image {
        width: 10%
    }

    .post_aside_content {
        width: 90%;
    }

    .post_aside_content_title {
        font-size: 13px;
    }

    .post_aside_content_text {
        font-size: 11px;
    }

    .prev_title,
    .next_title {
        font-size: 15px;
    }

    .prev_post_title,
    .next_post_title {
        font-size: 13px;
    }

    .pagination {
        display: none;
    }

    .pagination.mobile {
        display: block;
    }
}

@media (max-width:767px) {
    .page_title {
        font-size: 14px;
        line-height: 1.5;
        padding: 20px 0px;
    }

    .single_post_title {
        font-size: 15px;
    }

    .single_post_info p {
        font-size: 12px;
    }

    .single_post_text p {
        font-size: 14px;

    }

    .posts_aside_title {
        font-size: 16px;
    }

    .post_aside_image {
        width: 30%
    }

    .post_aside_content {
        width: 70%;
    }

    .post_aside_content_title {
        font-size: 12px;
    }

    .post_aside_content_text {
        font-size: 10px;
    }

    .post_icon {
        height: 15px;
        width: 15px;
    }

    .prev_title,
    .next_title {
        font-size: 13px;
    }

    .prev .angle,
    .next .angle {
        height: 7px;
        width: 7px;
        margin: 0px 0px 0px 0px;
    }

    .prev_post_title,
    .next_post_title {
        font-size: 10px;
    }
}

/* ********************** */
/* speciality.html */
.speciality_aside {
    width: 30%;
    padding: 20px;
}

.speciality_content {
    width: 70%;
}

.speciality_image img {
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%);
    border-radius: 0px;
}

.speciality_info {
    background-color: #F5F5F58F;
    box-sizing: border-box;
    padding: 20px;
}

.speciality_info p {
    font-size: 16px;
    display: block;
    line-height: 1.7em;
    padding-top: 5px;
}

.period_education_title,
.kcp_title,
.qualification_title,
.form_education_title {
    color: #0E873F;
    font-weight: 600;
    padding-right: 5px;
}

.kafedra_info {
    margin-top: 20px;
    border: 1px solid #0E873F;
    padding: 20px;
    text-align: center;

}

.kafedra_info p {
    display: block;
    padding: 15px 0px;
}

.kafedra_image {
    height: 150px;
    width: 150px;
    border: 1px solid #0E873F;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 auto;

}

.kafedra_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;


}

.zavkaf_name {
    font-size: 22px;
    color: #0E873F;
    font-weight: 500;
    padding: 15px 0px;
    margin: 0;
}

.kafedra_name {
    font-size: 16px;
    text-align: center;
}

.kafedra_email {
    font-size: 14px;
    padding: 15px 0px;
}

.kafedra_email_icon {
    height: 15px;
    width: 15px;
    margin: 0px 5px -2px 0px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

.kafedra_email:hover .kafedra_email_icon {
    fill: #0E873F !important;
}

.speciality_text p {
    line-height: 2em;
    text-align: justify;
}

.content_btn {
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
}

.content_btn a {
    font-size: 16px;
    border: 1px solid #000;
    padding: 10px 20px;
    margin: 20px 10px 0px 0px;
    transition: all 0s;
    transition: background .3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
}

.btn_icon {
    height: 22px;
    width: 22px;
    margin: 0px 5px -3px 0px;
}

.content_btn a:hover {
    background-color: #0E873F;
    color: #fff;
    border-color: #0E873F;
}

.content_btn a:hover .btn_icon path {
    fill: #fff !important;
}

.another_speciality {
    padding: 20px;
}

.another_speciality_title {
    color: #000;
    font-size: 21px;
    font-weight: 400;
}

.another_speciality_list a {
    font-size: 15px;
    margin-top: 5px;
}

@media (max-width:1023px) {

    .speciality_flex {
        flex-direction: row;
    }

    .speciality_info p {
        font-size: 14px;
    }

    .kafedra_image {
        height: 100px;
        width: 100px;
    }

    .zavkaf_name {
        font-size: 18px;
    }

    .kafedra_name {
        font-size: 14px;
    }

    .kafedra_email {
        font-size: 12px;
    }

    .another_speciality_title {
        font-size: 16px;
    }

    .another_speciality_list a {
        font-size: 13px;
    }

    .content_btn a {
        font-size: 13px;
    }
}

@media (max-width:767px) {

    .speciality_flex {
        flex-direction: column-reverse;
    }

    .speciality_aside,
    .speciality_content {
        width: 100%;
        padding: 0;
    }

    .speciality_info p {
        font-size: 14px;
    }

    .kafedra_image {
        height: 100px;
        width: 100px;
    }

    .zavkaf_name {
        font-size: 16px;
    }

    .kafedra_name {
        font-size: 13px;
    }

    .kafedra_email {
        font-size: 11px;
    }

    .another_speciality_title {
        font-size: 14px;
    }

    .another_speciality_list a {
        font-size: 12px;
    }

    .content_btn a {
        font-size: 13px;
    }

    .content_btn {
        flex-direction: column;
    }
}

/* osnovnie sveden */
.page_content {
    padding: 50px 0px;
}

.content_block {
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 15px 15px 15px 15px;
    display: flex;
    justify-content: space-between;
}

.block_info {
    width: 80%;
    padding: 10px;
}

.block_info_title {
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 23px;
    font-weight: 500;
    padding: 0px 0px 6px 0px;
    margin: 0px 0px 20px 0px;
    border-bottom:  1px dotted #000;
}
.block_info_content p {
    display: block;
}
.block_image {
    width: 200px;
    height: 250px;
    overflow: hidden;
    padding: 10px;
    border-radius: 10%;

}
.block_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    cursor: pointer;
}

@media (max-width:1023px) {
    .block_info_title {
        font-size: 20px;
    }
}

@media (max-width:767px) {
    .page_content {
        padding: 15px 0px;
    }

    .content_block {
        flex-direction: column-reverse;
    }

    .block_info {
        width: 100%;
        padding: 0;
    }

    .block_info_title {
        padding: 15px 0px;
        font-size: 17px;
    }

    .block_image {
        height: 160px;
        margin: 0 auto;
    }
}

/* struktura_i_organi */
.page_content_title {
    color: #000;
    font-size: 30px;
    font-weight: 400;
    padding: 0px 0px 15px 0px;
}

.page_content_text {
    font-size: 18px;
    text-align: justify;
}

.accordion {
    border: 1px solid #000;
    margin: 10px 0px;
}

.accordion_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    cursor: pointer;
}

.accordion_item i {
    margin: 0px 15px;
    transition: transform .6s;
    -webkit-transition: transform .6s;
    -moz-transition: transform .6s;
}

.accordion_title {
    padding: 13px 0px;
    margin: 0px;
    font-size: 17px;
    font-weight: 500;

}

.accordion_title_icon {
    height: 30px;
    width: 30px;
    padding: 0px 10px;
    margin: -10px 0px;
}

.accordion_item_content {
    border-top: 1px solid #000;
    display: none;
}

.accordion_item_content_flex {
    display: flex;
    align-items: baseline;
    padding: 10px 15px;
}

.accordion_content_text {
    width: 80%;
}

.accordion_content_image {
    height: 200px;
    width: 20%;
    overflow: hidden;

}

.accordion_content_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.accordion_item:hover {
    background-color: #0E873F;
    color: #fff;
}

.accordion_item:hover .angle {
    border-color: #fff;
}

.accordion_item:hover .accordion_title_icon path {
    fill: #fff !important;
}

.accordion_item.active {
    background-color: #0E873F;
    color: #fff;
}

.accordion_item.active .accordion_title_icon path {
    fill: #fff !important;
}

.accordion_item.active .angle {
    transform: rotate(-45deg);
    border-color: #fff;
}

.page_content_image img {
    height: 100%;
    width: 100%;
}

@media (max-width:1023px) {
    .page_content_title {
        font-size: 22px;
    }

    .page_content_text {
        font-size: 16px;
    }

    .accordion_title {
        font-size: 15px;
    }

}

@media (max-width:767px) {
    .page_content_title {
        font-size: 18px;
        padding: 15px 0px;
    }

    .page_content_text {
        font-size: 14px;
    }

    .accordion_title {
        font-size: 14px;
    }

    .accordion_item_content_flex {
        flex-direction: column-reverse;
    }

    .accordion_content_text {
        width: 100%;
        padding: 15px 0px;
    }

    .accordion_content_image {
        width: 50%;
        margin: 0 auto;
    }
} 
/* rukovodstvo.html */

.pedsostav_title {
    text-align: center;
    padding: 20px 0px;
}
.table {
    padding: 20px 0px;
}
table {
    width: 99%;
    margin: 0 auto;
    text-align: center;
    line-height:1.7em;
    min-width: 1024px;
    overflow: scroll;
}
.table_head {
    color:  #fff;
    background-color: #004448;
} 
.table_head th {
    font-weight: 500;
}
.table_head th, 
.table_rows td {
    border: 1px solid #BCBDBD;
}

th, 
.table_columns {
  padding: 10px;
}
.table_rows {
    background-color: #FFFFFB;
}
.table_rows:nth-child(even) {
    background-color: #fff;
}
.table_rows:hover {
    background-color: #0E873F;
    color: #fff;
    cursor: pointer;
}
@media (max-width:1023px) {
    table {
        font-size: 14px;
    }
}
@media (max-width:767px) {
    table {
        font-size: 12px;
    }
}