       <!-- footer -->
<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="links_footer">
                <a href=""> <img class="links_footer_icon img-svg" src="assets/img/icons/iconmonstr-info-5.svg"
                        alt="">Рекомендации по защите персональных данных</a>
                <a href=""> <img class="links_footer_icon img-svg" src="assets/img/icons/bullhorn-solid.svg"
                        alt="">Противодействие коррупции</a>
                <a href=""> <img class="links_footer_icon img-svg" src="assets/img/icons/sitemap-solid.svg" alt="">
                    Карта сайта</a>
            </div>

            <div class="footer_menu">
                <div class="footer_menu_item footer_menu_item_first">
                    <h3>СВЕДЕНИЯ</h3>
                    <ul>
                        <li><a href="">Основные сведения</a></li>
                        <li><a href="">Руководство</a></li>
                        <li><a href="">Документы</a></li>
                        <li><a href="">Образование</a></li>
                        <li><a href="">Образовательные стандарты</a></li>
                        <li><a href="">Доступная среда</a></li>
                    </ul>
                </div>
                <div class="footer_menu_item footer_menu_item_second">
                    <h3>СТУДЕНТУ</h3>
                    <ul>
                        <li><a href="">Расписание занятий</a></li>
                        <li><a href="">Расписание звонков</a></li>
                        <li><a href="">Стипендии и меры поддержки обучающихся</a></li>
                        <li><a href="">Студенческое самоуправление</a></li>
                        <li><a href="">Трудоустройство выпусников</a></li>
                        <li><a href="">Библиотека</a></li>
                        <li><a href="">Государственная итоговая аттестация </a></li>
                    </ul>
                </div>
                <div class="footer_menu_item footer_menu_item_last">
                    <h3>АБИТУРИЕНТУ</h3>
                    <ul>
                        <li><a href="">Специальности колледжа</a></li>
                        <li><a href="">Приемная кампания</a></li>
                        <li><a href="">Приемная комиссия</a></li>
                        <li><a href="">Контрольные цифры приема</a></li>
                        <li><a href="">Перечень необходимых документов для поступления</a></li>
                        <li><a href="">Результаты приема</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="footer_copy">
                <div class="copyright">
                    <p>&copy; 2022 ГБПОУ Чеченский аграрно-технический колледж</p>
                </div>
                <div class="links_button">
                    <a href=""> <img class="links_button_icon img-svg" src="assets/img/icons/youtube-brands.svg"
                            alt=""></a>
                    <a href=""> <img class="links_button_icon img-svg" src="assets/img/icons/telegram-brands.svg"
                            alt=""></a>
                    <a href=""> <img class="links_button_icon img-svg" src="assets/img/icons/envelope-solid.svg"
                            alt=""></a>
                    <a href=""> <img class="links_button_icon img-svg" src="assets/img/icons/square-phone-solid.svg"
                            alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <a href="#header" class="top_arrow">
       <i class="angle angle-up"></i>
            <i class="angle angle-up"></i>
    </a>
</footer>