<script type="text/javascript" src="assets/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="assets/js/fslightbox.js"></script>
<script type="text/javascript" src="assets/js/slick.min.js"></script>
<script type="text/javascript" src="assets/js/script.js"></script>

<script> 
   var homepages = [ '/', 'index.html']; 
   if (homepages.indexOf(window.location.pathname) >= 0) {
    Widget("https://pos.gosuslugi.ru/form", 271976)
}
   
</script>
<script src='https://pos.gosuslugi.ru/bin/script.min.js'></script>
<script type="text/javascript" src="assets/js/gos.js"></script>
