@import 'base/fonts';
@import 'libs/reset';
@import 'libs/tinyslider';
@import 'libs/ligthbox';
@import 'libs/bvi';

html,body {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.page {
    flex-grow: 1;
}  
a {
    text-decoration: none;
    color: #000;
    transition: .3s all;
    -moz-transition: .3s all;
    -webkit-transition: .3s all;
    line-height: 1.5em;
    &:visited {
        color: #000;
    }
    &:hover {
        color: #0e873f;
    }
   
}
h2 {
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px
}
h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.8em
}

p {
    font-size: 18px;
    line-height: 1.7em;
    padding: 0;
    margin: 0;
    display: inline-block
}

table td {
    font-size: 16px;
    padding: 10px
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    padding: 0 15px 0px 15px
}

@import 'blocks/header';
@import 'blocks/angle';
@import 'blocks/promo';
@import 'blocks/gos';
@import 'blocks/news';
@import 'blocks/specialties';
@import 'blocks/quoter';
@import 'blocks/gallery';
@import 'blocks/links';
@import 'blocks/footer';
@import 'blocks/404';
@import 'blocks/access';
@import 'blocks/page';
@import 'blocks/single-news';
@import 'blocks/search';
@import 'blocks/abiturient';
@import 'blocks/accordion';
@import 'blocks/employe';
@import 'blocks/buttons';
@import 'libs/snowballs';




@import 'media/meida';