.photo_gallery {
    padding-bottom: 30px
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery_img {
    margin: 5px;
    max-width: 360px;
    overflow: hidden;
    max-height: 300px;
    object-fit: cover
}

.gallery_img img {
    object-fit: cover;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
}

.gallery_img:hover img {
    filter: brightness(0.7);
}
