.photo_gallery {
    padding-bottom: 30px
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

.gallery_img {
    max-width: 360px;
    overflow: hidden;
    max-height: 300px;
    object-fit: cover
}

.gallery_img img {
    object-fit: cover;
    transition: 1.5s all;
    -webkit-transition: 1.5s all;
    -moz-transition: 1.5s all
}

.gallery_img:hover img {
    transform: scale(1.1)
}
