.page_header {
    width: 100%;
    background-color: #1f403e;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 50%)
}

.page_title {
    color: #fff;
    font-weight: 200;
    font-size: 28px;
    margin: 0;
    padding: 25px 0;
    text-transform: uppercase
}


.page_content {
    padding: 20px 0 50px 0;
    min-height: 400px
}

.page_content h2 {
    font-size: 24px;
    text-align: justify;
    font-weight: 400;
    margin: 0;
    padding: 10px 0;
    line-height: 1.7em
}

.page_content_title {
    color: #000;
    font-size: 30px;
    font-weight: 400;
    padding: 0 0 15px 0;
    text-align: left
}

.page_content p {
    text-align: justify
}
.page_content p,
.page_side_content p {
    display: block
}

.page_content li {
    font-size: 18px;
    line-height: 1.7em;
    text-align: justify
}

.page_side_content li {
    font-size: 17px;
    line-height: 1.7em;
    text-align: justify
}

.page_content_image img {
    height: 100%;
    width: 100%
}


.pedsostav_title {
    text-align: center
}

.table {
    padding: 0 0 20px 0
}

table {
    width: 99%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.7em;
    overflow: scroll;
    font-size: 17px
}

.table_head {
    color: #fff;
    background-color: #004448
}

.table_head th {
    font-weight: 500
}

.table_head th,
.table_rows td {
    border: 1px solid #bcbdbd
}

.table_columns,
th {
    padding: 10px
}

.table_columns p {
    font-size: 16px
}

.table_rows {
    background-color: #fffffb
}

.table_rows:nth-child(even) {
    background-color: #fff
}

.table_rows:hover {
    background-color: #0e873f;
    color: #fff;
    cursor: pointer
}

.table_rows a {
    transition: all 0s;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    display: block;
    height: 100%;
    width: 100%
}

.table_rows:hover a {
    color: #fff
}


.docs_table {
    text-align: justify;
    display: table
}

.osn_docs {
    background-color: #63132c
}

.table_head_icon {
    margin: 0 10px -4px 0;
    height: 22px;
    fill: #fff !important
}



.page_aside {
    width: 30%;
    padding: 20px
}

.page_side_content {
    width: 70%;
    padding: 35px 20px
}

.page_side_content p {
    text-align: justify
}

.table_aside {
    margin: 20px 0;
    text-align: left;
    font-size: 15px
}


.nav-links {
    margin: 0 auto;
    text-align: center
}

.page-numbers {
    padding: 10px;
    margin-left: 5px
}

.page-numbers.current {
    background-color: #0e873f;
    color: #fff
}

.content_posts,
.content_pages {
    width: 50%
}

.content_sitemap {
    display: flex;
    gap: 50px
}

.list_sitemap {
    padding: 3px 0
}